<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.min.css" >
    <title>Error</title>
</head>
<body>
<div class="container" style="max-width:700px; margin-top: 50px">
    <div class="jumbotron">
        <h2>OOPS~</h2>
        <p>Service Error!</p>
        <p>request URL: <code th:text="${url}"></code></p>
        <p>Error Message: <code th:text="${exception.message}"></code></p>

    </div>
</div>

</body>
</html>

